<app-navbar2></app-navbar2>

<div class="card-container">
    <app-timesheet></app-timesheet>


    <div class="hello">
        <img src="https://img.freepik.com/premium-vector/man-working-office-employee-manager-businessman-sitting-desk-looking-laptop-writing-notes-doing-tasks_276875-586.jpg?size=626&ext=jpg&ga=GA1.1.946349730.1693890642&semt=ais" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
       
        <div class="container">
            <div class="inside">Hope You Have A Nice Day!!</div>
            <div class="lower">Welcome</div>
           
          </div>        </div> 
      

    <app-statistics></app-statistics>

</div>
<app-calender></app-calender>
