.card {
  width: 390px;
  height: 450px;
  margin: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  }
  

/* Styles for screens with a max-width of 768px (tablets and smaller) */
@media (max-width: 768px) {
    .card {
      width: 100%; /* Make the card full width on smaller screens */
      height: auto; /* Allow the card's height to adjust based on content */
      margin: 10px 0; /* Remove horizontal margin and add vertical margin */
    }
  }
  

  .column{
    margin: 30px;
 
    width: 200px;
  }
  
  /* statistics.component.css */
.success {
  background-color: green;
}

.warning {
  background-color: yellow;
}

.danger {
  background-color: red;
}


.mb-2{
  padding-bottom: 10px;
  margin: 0%;
 
}
